doctype html
head
  link(rel='preconnect' href='https://fonts.gstatic.com')
  link(href='https://fonts.googleapis.com/css2?family=Sacramento&display=swap' rel='stylesheet')
  link(rel='StyleSheet' href='css/styles.css' type='text/css')
  script(src='script.js')
header
  nav
    ul
      li
        a(href='/') Home
      li |
      li
        a(href='#') Blog
      li.register-link                                                                                  
        a(href='/register')   Register  
main
  section#intro-text
    span Simple Kitchen
    h3
      | Simple &amp; Comforting 
      br
      |             Recipes All Year Round
    //- p Pan-seared chicken, Grill shrimp, mac &amp; cheese&mdash;need we say more?
    //
      <p class="success">SUCCESS</p>
      <p class="error">ERROR</p>
      <p class="warning">WARNING</p>
    //- button.submit-buttton View Recipes
  section#intro-image
  
    -data = data || {}

    if errors && errors.length
        ul.my-errors
            each error in errors
                li= error.msg
                
    h1.headline-container
        strong.register-headline Register to subscribe

    form(action="/register" method="POST" class="form-registration")
        label(for="name") Name:
        input(
            type="text"
            id="name"
            name="name"
            class="form-control"
            value=data.name
        )

        label(for="email") Email:
        input(
            type="email"
            id="email"
            name="email"
            class="form-control"
            value=data.email
        )

        label(for="username") Username:
        input(
            type="username"
            id="username"
            name="username"
            class="form-control"
            value=data.username
        )

        label(for="password") Password:
        input(
            type="text"
            id="password"
            name="password"
            class="form-control"
            value=data.password
        )

        input(
            type="submit" 
            value="Submit"
            class="btn btn-lg btn-primary btn-block submit-buttton"
        )
footer
  | &copy; Copyright 2021